body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
nav ul{
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

nav ul li {
    list-style-type: none;
    padding: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}


